In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
import ibex_35_web_scraping 
# Ejecutamos el script de web scraping para actualizar los datos en el arx .csv

In [6]:
df = pd.read_csv("ibex_35.csv")

In [7]:
df

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"139,0000","-0,71","140,0000","137,5000",15.373,"2.128,95",08/09/2021,11:42:10
1,ACERINOX,"11,5500","0,00","11,6700","11,4500",221.997,"2.575,73",08/09/2021,11:40:18
2,ACS,"23,2500","-0,64","23,2900","23,1100",117.891,"2.737,52",08/09/2021,11:42:04
3,AENA,"134,2000","0,45","134,2500","132,2500",31.852,"4.251,95",08/09/2021,11:41:53
4,ALMIRALL,"14,5900","-0,07","14,8300","14,5600",179.661,"2.638,69",08/09/2021,11:39:21
5,AMADEUS,"53,0800","0,87","53,1000","51,9200",233.574,"12.277,41",08/09/2021,11:41:55
6,ARCELORMIT.,"28,3200","-0,91","28,5050","28,1500",116.234,"3.294,75",08/09/2021,11:39:51
7,B.SANTANDER,"3,0690","-2,12","3,1055","3,0265",11.059.269,"33.810,87",08/09/2021,11:42:08
8,BA.SABADELL,"0,5878","-2,78","0,5972","0,5836",7.086.102,"4.175,55",08/09/2021,11:40:55
9,BANKINTER,"4,9200","-1,76","4,9830","4,8970",410.559,"2.023,48",08/09/2021,11:42:07
10,BBVA,"5,5210","-1,29","5,5610","5,4690",9.629.458,"53.618,60",08/09/2021,11:42:21
11,CAIXABANK,"2,6270","-2,56","2,6760","2,6030",3.449.247,"9.059,71",08/09/2021,11:42:21
12,CELLNEX,"57,8600","0,42","57,9000","57,2400",161.714,"9.318,43",08/09/2021,11:41:13
13,CIE AUTOMOT.,"23,5400","-1,83","24,2000","23,4200",46.970,"1.107,49",08/09/2021,11:37:29
14,ENAGAS,"18,9400","-0,16","18,9600","18,6500",131.125,"2.465,23",08/09/2021,11:38:37
15,ENDESA,"20,3200","-0,59","20,4300","20,1600",178.531,"3.615,50",08/09/2021,11:40:11
16,FERROVIAL,"25,0000","0,20","25,0000","24,6800",86.795,"2.156,76",08/09/2021,11:42:05
17,FLUIDRA,"37,2000","-0,80","37,4000","37,0000",70.210,"2.609,12",08/09/2021,11:40:59
18,GRIFOLS CL.A,"20,8300","-0,10","20,8300","20,5100",109.833,"2.270,50",08/09/2021,11:41:05
19,IAG,"1,8290","0,97","1,8320","1,7700",6.510.267,"11.735,11",08/09/2021,11:42:12
20,IBERDROLA,"10,2900","-0,87","10,3200","10,1500",2.675.549,"27.339,96",08/09/2021,11:42:17
21,INDITEX,"29,6700","-0,27","29,8000","29,3400",286.814,"8.464,41",08/09/2021,11:40:59
22,INDRA A,"8,9200","-1,60","9,0300","8,8250",254.876,"2.266,63",08/09/2021,11:40:58
23,INM.COLONIAL,"8,5250","-1,67","8,6400","8,5000",250.685,"2.148,27",08/09/2021,11:39:42
24,MAPFRE,"1,8180","-1,49","1,8510","1,8065",627.756,"1.142,65",08/09/2021,11:40:38
25,MELIA HOTELS,"5,7840","0,73","5,8040","5,6740",212.666,"1.224,93",08/09/2021,11:38:01
26,MERLIN,"9,4600","-2,97","9,7360","9,4500",206.519,"1.967,45",08/09/2021,11:42:02
27,NATURGY,"21,7200","0,32","21,7300","21,5000",242.959,"5.243,67",08/09/2021,11:37:49
28,PHARMA MAR,"81,2000","-0,12","81,8400","80,2000",18.943,"1.532,16",08/09/2021,11:41:55
29,R.E.C.,"17,1850","-0,03","17,2000","17,0300",121.282,"2.076,98",08/09/2021,11:42:20
30,REPSOL,"9,4750","-1,51","9,5560","9,3890",1.377.550,"12.994,52",08/09/2021,11:42:04
31,SIEMENS GAME,"23,7900","-6,60","24,7100","23,5600",694.061,"16.594,98",08/09/2021,11:42:19
32,SOLARIA,"15,3950","-0,26","15,4450","15,0100",460.676,"7.009,27",08/09/2021,11:42:20
33,TELEFONICA,"4,2020","-0,15","4,2065","4,1595",1.743.104,"7.287,55",08/09/2021,11:42:08
34,VISCOFAN,"59,8000","-0,58","60,2000","59,5500",4.272,"255,21",08/09/2021,11:29:01